apps/api/src/workflows/appointment-setter.workflow.json
{
  "name": "Appointment Setter Agent",
  "active": false,
  "nodes": [
    {
      "id": "new-lead-webhook",
      "name": "New Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "appointments-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "get-contact-details",
      "name": "Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{$json.body.contactId}}"
            },
            {
              "name": "locationId",
              "value": "{{LOCATION_ID}}"
            }
          ]
        }
      }
    },
    {
      "id": "claude-write-followup",
      "name": "Claude - Write Follow-up Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "body": "={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:500,system:'{{AGENT_PROMPT}}',messages:[{role:'user',content:'Write a follow-up SMS for this lead (day 0 initial outreach). Be concise, friendly, max 160 chars. Return only the SMS text: ' + JSON.stringify($json.contacts?.[0] || $json)}]}) }}",
        "contentType": "raw",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "send-sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"locationId\":\"{{LOCATION_ID}}\",\"contactId\":$('New Lead Webhook').item.json.body.contactId,\"type\":\"SMS\",\"message\":$json.content[0].text}"
      }
    },
    {
      "id": "reply-handler-webhook",
      "name": "Handle Lead Reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "appt-reply-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "claude-classify-reply",
      "name": "Claude - Classify Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "body": "={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:500,system:'{{AGENT_PROMPT}}',messages:[{role:'user',content:'Classify this reply and provide a response: ' + ($json.body?.message || $json.message || '')}]}) }}",
        "contentType": "raw",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "check-calendar",
      "name": "Get Calendar Slots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/calendar/slots",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "{{LOCATION_ID}}"
            },
            {
              "name": "calendarId",
              "value": "{{CALENDAR_ID}}"
            },
            {
              "name": "startDate",
              "value": "={{new Date().toISOString().split('T')[0]}}"
            },
            {
              "name": "endDate",
              "value": "={{new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0]}}"
            }
          ]
        }
      }
    },
    {
      "id": "pick-first-slot",
      "name": "Pick First Slot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        875,
        500
      ],
      "parameters": {
        "jsCode": "const slots = $input.first().json.slots || $input.first().json.availableSlots || [];\nif (slots.length === 0) return [];\nconst replyData = $('Handle Lead Reply').item.json;\nconst contactId = replyData.body?.contactId || replyData.contactId || '';\nreturn [{ json: { selectedSlot: slots[0].startTime || slots[0], contactId } }];"
      }
    },
    {
      "id": "book-appointment",
      "name": "Book Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"locationId\":\"{{LOCATION_ID}}\",\"calendarId\":\"{{CALENDAR_ID}}\",\"contactId\":$json.contactId,\"startTime\":$json.selectedSlot}"
      }
    }
  ],
  "connections": {
    "New Lead Webhook": {
      "main": [
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "main": [
        [
          {
            "node": "Claude - Write Follow-up Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Write Follow-up Message": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Lead Reply": {
      "main": [
        [
          {
            "node": "Claude - Classify Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Classify Reply": {
      "main": [
        [
          {
            "node": "Get Calendar Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Slots": {
      "main": [
        [
          {
            "node": "Pick First Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick First Slot": {
      "main": [
        [
          {
            "node": "Book Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}