apps/api/src/workflows/client-services.workflow.json
{
  "name": "Client Services Agent",
  "active": false,
  "nodes": [
    {
      "id": "new-client-webhook",
      "name": "New Client Sale Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "client-services-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "schedule-checkins",
      "name": "Weekly Check-in Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "claude-write-welcome",
      "name": "Claude - Write Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "body": "={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:1024,system:'{{AGENT_PROMPT}}',messages:[{role:'user',content:'Write a personalised welcome sequence for new client: ' + JSON.stringify($json)}]}) }}",
        "contentType": "raw",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"locationId\":\"{{LOCATION_ID}}\",\"contactId\":$('New Client Sale Webhook').item.json.body?.contactId || $('New Client Sale Webhook').item.json.contactId,\"type\":\"Email\",\"subject\":\"Welcome to the family! Here's your next step\",\"body\":$json.content[0].text}"
      }
    },
    {
      "id": "get-all-clients",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "{{LOCATION_ID}}"
            },
            {
              "name": "query",
              "value": "tag:active-client"
            }
          ]
        }
      }
    },
    {
      "id": "split-clients",
      "name": "Split Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        625,
        500
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst contacts = raw.contacts || raw.body?.contacts || [];\nif (contacts.length === 0) return [];\nreturn contacts.map(c => ({ json: c }));"
      }
    },
    {
      "id": "claude-health-check",
      "name": "Claude - Assess Client Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "body": "={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:1024,system:'{{AGENT_PROMPT}}',messages:[{role:'user',content:'Assess this client\\'s health score and generate a weekly check-in message. Return JSON with fields: healthScore (number 0-100), checkInMessage (string), riskLevel (low|medium|high). Client data: ' + JSON.stringify($json)}]}) }}",
        "contentType": "raw",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "parse-health-check",
      "name": "Parse Health Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        875,
        500
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text || '{}';\nlet result = {};\ntry {\n  result = JSON.parse(raw.replace(/```json\\n?|\\n?```/g, '').trim());\n} catch(e) {\n  result = { healthScore: 50, checkInMessage: 'Checking in to see how things are going!', riskLevel: 'low' };\n}\nconst contactId = $('Split Clients').item.json.id;\nreturn [{ json: { ...result, contactId } }];"
      }
    },
    {
      "id": "send-checkin",
      "name": "Send Check-in Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"locationId\":\"{{LOCATION_ID}}\",\"contactId\":$json.contactId,\"type\":\"Email\",\"subject\":\"Quick check-in from your success team\",\"body\":$json.checkInMessage}"
      }
    },
    {
      "id": "support-webhook",
      "name": "Support Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "client-support-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "claude-handle-support",
      "name": "Claude - Handle Support Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "body": "={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:1024,system:'{{AGENT_PROMPT}}',messages:[{role:'user',content:'Handle this support request: ' + JSON.stringify($json.body || $json)}]}) }}",
        "contentType": "raw",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "seed-data-client-services",
      "name": "Seed Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        375,
        500
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "seed-test",
              "name": "test",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "seed-timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "seed-clientId",
              "name": "clientId",
              "value": "{{CLIENT_ID}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "test-trigger-client-services",
      "name": "Test Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        350
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "test-client-services-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    }
  ],
  "connections": {
    "New Client Sale Webhook": {
      "main": [
        [
          {
            "node": "Claude - Write Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Write Welcome Message": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Check-in Schedule": {
      "main": [
        [
          {
            "node": "Seed Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Split Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clients": {
      "main": [
        [
          {
            "node": "Claude - Assess Client Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Assess Client Health": {
      "main": [
        [
          {
            "node": "Parse Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Health Check": {
      "main": [
        [
          {
            "node": "Send Check-in Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Request Webhook": {
      "main": [
        [
          {
            "node": "Claude - Handle Support Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Data": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Trigger": {
      "main": [
        [
          {
            "node": "Split Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}