apps/api/src/workflows/lead-generation.workflow.json
{
  "name": "Lead Generation Agent",
  "active": false,
  "nodes": [
    {
      "id": "trigger-node",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        150
      ],
      "parameters": {
        "path": "lead-gen-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "fetch-leads",
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "{{LOCATION_ID}}"
            },
            {
              "name": "query",
              "value": "stage:new"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        }
      }
    },
    {
      "id": "split-contacts",
      "name": "Split Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [625, 300],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst contacts = item.contacts || item.body?.contacts || [];\nif (contacts.length === 0) return [];\nreturn contacts.map(c => ({ json: c }));"
      }
    },
    {
      "id": "claude-score-lead",
      "name": "Claude AI - Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ '{\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":1024,\"system\":\"You are a lead scoring AI for {{BUSINESS_NAME}}. ICP: {{ICP_DESCRIPTION}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Score this lead 0-100 and return ONLY a JSON object with fields: score (number 0-100), summary (string), nextAction (string), tags (string[]). No other text. Lead data: ' + JSON.stringify($json) + '\"}]}' }}"
      }
    },
    {
      "id": "parse-score",
      "name": "Parse Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "const allContacts = $('Split Contacts').all();\nreturn $input.all().map((item, index) => {\n  const text = item.json.content[0].text.replace(/```json\\n?|\\n?```/g, '').trim();\n  const response = JSON.parse(text);\n  const contactId = allContacts[index]?.json?.id || '';\n  return { json: { score: response.score, summary: response.summary, nextAction: response.nextAction, tags: response.tags || [], contactId } };\n});"
      }
    },
    {
      "id": "route-by-score",
      "name": "Route by Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "dataType": "number",
        "value1": "={{$json.score}}",
        "rules": {
          "rules": [
            {
              "operation": "larger",
              "value2": 70,
              "output": 0
            },
            {
              "operation": "larger",
              "value2": 40,
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      }
    },
    {
      "id": "update-ghl-high",
      "name": "Update Contact - High Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1500,
        150
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ '{{API_URL}}/clients/{{CLIENT_ID}}/crm/contacts/' + $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "score", "value": "={{ $json.score }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "locationId", "value": "{{LOCATION_ID}}" }
          ]
        }
      }
    },
    {
      "id": "notify-appointment-setter",
      "name": "Notify Appointment Setter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1750,
        150
      ],
      "parameters": {
        "method": "POST",
        "url": "{{WEBHOOK_URL}}/appointments-{{CLIENT_ID}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "contactId", "value": "={{ $json.contactId }}" },
            { "name": "score", "value": "={{ $json.score }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "locationId", "value": "{{LOCATION_ID}}" }
          ]
        }
      }
    },
    {
      "id": "update-ghl-medium",
      "name": "Update Contact - Medium Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ '{{API_URL}}/clients/{{CLIENT_ID}}/crm/contacts/' + $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "score", "value": "={{ $json.score }}" },
            { "name": "locationId", "value": "{{LOCATION_ID}}" }
          ]
        }
      }
    },
    {
      "id": "seed-data-lead-generation",
      "name": "Seed Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        375,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "seed-test",
              "name": "test",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "seed-timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "seed-clientId",
              "name": "clientId",
              "value": "{{CLIENT_ID}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "test-trigger-lead-generation",
      "name": "Test Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        150
      ],
      "parameters": {
        "path": "test-lead-generation-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Seed Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Split Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads": {
      "main": [
        [
          {
            "node": "Split Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Contacts": {
      "main": [
        [
          {
            "node": "Claude AI - Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI - Score Lead": {
      "main": [
        [
          {
            "node": "Parse Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Score": {
      "main": [
        [
          {
            "node": "Route by Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Score": {
      "main": [
        [
          {
            "node": "Update Contact - High Score Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Contact - Medium Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact - High Score Lead": {
      "main": [
        [
          {
            "node": "Notify Appointment Setter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Data": {
      "main": [
        [
          {
            "node": "Fetch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Trigger": {
      "main": [
        [
          {
            "node": "Split Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
