apps/api/src/workflows/linkedin-outreach.workflow.json
{
  "name": "LinkedIn Outreach Agent",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "get-prospects",
      "name": "Get Prospects via ProxyCurl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://nubela.co/proxycurl/api/search/person",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.PROXYCURL_API_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "headline_keyword", "value": "{{SEARCH_KEYWORDS}}" },
            { "name": "page_size", "value": "10" }
          ]
        }
      }
    },
    {
      "id": "claude-personalise",
      "name": "Claude - Personalise Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":300,\"system\":\"{{AGENT_PROMPT}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Write a LinkedIn connection request for: \" + JSON.stringify($json)}]}"
      }
    },
    {
      "id": "log-to-ghl",
      "name": "Log Activity to GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "parameters": {
        "method": "POST",
        "url": "={{$env.GHL_BASE_URL}}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"locationId\":\"{{LOCATION_ID}}\",\"firstName\":$json.firstName,\"lastName\":$json.lastName,\"source\":\"LinkedIn Outreach\",\"tags\":[\"linkedin-prospect\",\"client-{{CLIENT_ID}}\"]}"
      }
    },
    {
      "id": "webhook-reply-handler",
      "name": "Handle LinkedIn Reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {
        "path": "linkedin-reply-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      },
      "webhookId": "linkedin-reply-{{CLIENT_ID}}"
    },
    {
      "id": "claude-classify-reply",
      "name": "Claude - Classify Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 500],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":200,\"system\":\"Classify LinkedIn replies as: INTERESTED, QUESTION, NOT_INTERESTED, or NEUTRAL. Return JSON with classification and suggested_response.\",\"messages\":[{\"role\":\"user\",\"content\":\"Classify this reply: \" + $json.message}]}"
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [[{ "node": "Get Prospects via ProxyCurl", "type": "main", "index": 0 }]]
    },
    "Get Prospects via ProxyCurl": {
      "main": [[{ "node": "Claude - Personalise Message", "type": "main", "index": 0 }]]
    },
    "Claude - Personalise Message": {
      "main": [[{ "node": "Log Activity to GHL", "type": "main", "index": 0 }]]
    },
    "Handle LinkedIn Reply": {
      "main": [[{ "node": "Claude - Classify Reply", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
