apps/api/src/workflows/onboarding-master.workflow.json
{
  "name": "Onboarding Master Workflow",
  "active": false,
  "nodes": [
    {
      "id": "onboarding-trigger",
      "name": "Onboarding Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "onboarding-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "create-ghl-account",
      "name": "Create GHL Sub-Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{GHL_BASE_URL}}/locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{GHL_API_KEY}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"name\":$json.businessName,\"email\":$json.email,\"companyId\":\"{{{{GHL_AGENCY_ID}}}}\"}"
      }
    },
    {
      "id": "update-client-db",
      "name": "Update Client in DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"ghlLocationId\":$json.location.id}"
      }
    },
    {
      "id": "deploy-agents",
      "name": "Trigger Agent Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/deploy-agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"clientId\":\"{{CLIENT_ID}}\",\"locationId\":$json.ghlLocationId}"
      }
    },
    {
      "id": "send-welcome",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/send-welcome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "{\"clientId\":\"{{CLIENT_ID}}\"}"
      }
    },
    {
      "id": "mark-complete",
      "name": "Mark Onboarding Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/onboarding/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "{\"clientId\":\"{{CLIENT_ID}}\"}"
      }
    }
  ],
  "connections": {
    "Onboarding Trigger": {
      "main": [
        [
          {
            "node": "Create GHL Sub-Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GHL Sub-Account": {
      "main": [
        [
          {
            "node": "Update Client in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client in DB": {
      "main": [
        [
          {
            "node": "Trigger Agent Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Agent Deployment": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Mark Onboarding Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}