apps/api/src/workflows/voice-inbound.workflow.json
{
  "name": "Voice Inbound Agent",
  "active": false,
  "nodes": [
    {
      "id": "call-completed-webhook",
      "name": "Call Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "voice-inbound-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "get-transcript",
      "name": "Get Call Transcript from Retell AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.retellai.com/v2/get-call/{{ $json.call_id || $json.callId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{RETELL_API_KEY}}"
            }
          ]
        }
      }
    },
    {
      "id": "claude-analyse-call",
      "name": "Claude - Analyse Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:1024,system:'You are a helpful AI assistant for Test Business. Always respond with valid JSON only.',messages:[{role:'user',content:'Analyse this call transcript and return ONLY a JSON object with fields: callerName (string), callerPhone (string), callerEmail (string), summary (string), actionItems (string), appointmentRequested (boolean), intent (string). No other text. Transcript: ' + JSON.stringify($json.transcript || $json.transcript_object || [])}]}) }}"
      }
    },
    {
      "id": "parse-call-analysis",
      "name": "Parse Call Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [875, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text || '{}';\nlet analysis = {};\ntry {\n  analysis = JSON.parse(raw.replace(/```json\\n?|\\n?```/g, '').trim());\n} catch(e) {\n  analysis = { callerName: '', callerPhone: '', callerEmail: '', summary: 'Call analysed', actionItems: 'Follow up', appointmentRequested: false };\n}\nreturn [{ json: analysis }];"
      }
    },
    {
      "id": "create-crm-contact",
      "name": "Create/Update CRM Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"locationId\":\"{{LOCATION_ID}}\",\"firstName\":$json.callerName?.split(' ')[0],\"phone\":$json.callerPhone,\"email\":$json.callerEmail,\"source\":\"Inbound Call\",\"tags\":[\"inbound-call\"]}"
      }
    },
    {
      "id": "add-call-note",
      "name": "Add Call Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "method": "PUT",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/contacts/{{$json.contactId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"locationId\":\"{{LOCATION_ID}}\",\"note\":\"Inbound call summary: \" + $json.summary + \"\\n\\nAction items: \" + $json.actionItems}"
      }
    },
    {
      "id": "book-appointment",
      "name": "Book Appointment if Requested",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "{{API_URL}}/clients/{{CLIENT_ID}}/crm/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\"locationId\":\"{{LOCATION_ID}}\",\"calendarId\":\"{{CALENDAR_ID}}\",\"contactId\":$json.contactId,\"title\":\"Follow-up from Inbound Call\"}"
      }
    },
    {
      "id": "calendar-webhook",
      "name": "Calendar Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        500
      ],
      "parameters": {
        "path": "voice-calendar-{{CLIENT_ID}}",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "test-trigger-voice-inbound",
      "name": "Test Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        150
      ],
      "parameters": {
        "path": "test-voice-inbound-{{CLIENT_ID}}",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    }
  ],
  "connections": {
    "Call Completed Webhook": {
      "main": [
        [
          {
            "node": "Get Call Transcript from Retell AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Call Transcript from Retell AI": {
      "main": [
        [
          {
            "node": "Claude - Analyse Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Analyse Call": {
      "main": [
        [
          {
            "node": "Parse Call Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Call Analysis": {
      "main": [
        [
          {
            "node": "Create/Update CRM Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Book Appointment if Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update CRM Contact": {
      "main": [
        [
          {
            "node": "Add Call Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Booking Webhook": {
      "main": [
        [
          {
            "node": "Book Appointment if Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Trigger": {
      "main": [
        [
          {
            "node": "Claude - Analyse Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
